.layout {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.sideNavContainer {
    transition: all 200ms ease-linear;
}

.sideNavExpanded {
    width: 14%;
}

.sideNavCollapsed {
    width: 3.2%;
}

.mainContent {
    display: flex;
    flex-direction: column;
}

.mainContentExpanded {
    width: 96.8%;
}

.mainContentCollapsed {
    width: 86%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--customColors-protected-background);
    padding: 0.5rem 1rem;
}

.headerLeft {
    flex: 1;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
}

.avatarButton {
    display: flex;
    align-items: center;
}

.contentContainer {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
}

.contentBackground {
    background-color: var(--customColors-protected-background);
    border-radius: 0.25rem;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}